/*** GENERICS ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 1.2rem;
    width: 100%;
    font-weight: 700;
    color: white;
}

img {
    width: 100%;
}

/*** UTILITIES ***/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex-end {
    justify-content: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.color-grey {
    color: grey;
}

.hidden {
    display: none;
}

/*** CONTENT ***/

/* MAIN */
.container-web-app {
    height: 100vh;
}

/* header */
header {
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    align-items: center;
    padding: 10px 0;
}

header button {
    margin-right: 20px;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 14px;
    padding: 7px 24px;
}

header button:hover {
    transform: scale(1.05);
}



/* aside */
aside {
    position: fixed;
    background-color: black;
    padding: 7px;
    padding-bottom: 80px;
    height: 100vh;
    width: 35px;
}

aside img {
    padding-bottom: 7px;
}

.nav-aside img {
    filter: contrast(0);
    transition: filter;
}

.aside-down {
    align-items: center;
}

.aside-down img {
    padding-bottom: 0;
    margin-top: 25px;
    background-color: grey;
    border-radius: 50%;
}

.aside-down i {
    color: grey;
    font-size: 0.6rem;
    align-self: center;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 0 2px;
    transition: color;
}

.nav-aside img:hover,
.aside-down i:hover {
    color: white;
    filter: none;
}

/* container wrap page */
.container-wrap-page {
    margin-left: 35px;
    background-color: #141922;
    flex-grow: 1;
    padding-top: 52px;
}

.container-wrap-page ul {
    list-style-type: none;
    justify-content: center;
    font-size: 0.9rem;
    padding: 15px 0;
    color: #76787d;
}

.container-wrap-page li {
    margin: 0px 9px 30px;
}

/* container music */
.container-music {
    padding: 0 20px 30px;
}

.container-album {
    margin: 30px 0;
}

/* album cards */
.album {
    align-items: center;
    justify-content: flex-start;
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

.album h4 {
    margin: 15px 0;
}

.container-music p {
    font-weight: 400;
    color: #76787d;
    font-size: 1rem;
}

.container-music section>p {
    margin-top: 20px;
}

/* footer */
footer {
    position: fixed;
    align-items: center;
    width: 100vw;
    height: 70px;
    left: 0;
    bottom: 0;
    background-color: #282828;
    padding: 0 10px;
    line-height: 12px;
}

footer section {
    width: calc(100% / 3 - 20px);
    height: 40px;
    justify-content: space-between;
}

#music-controls {
    margin-bottom: 10px;
}

.footer-left img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.footer-left i {
    font-size: 0.8rem;
    color: white;
    padding: 2px 0;
}

.footer-right i {
    font-size: 0.8rem;
    align-items: center;
    padding: 4px;
}

footer div {
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-grow: 1;
}

footer p {
    font-size: 0.6rem;
    font-weight: 400;
    color: #76787d;
    transition: text, color;
}

footer p:hover {
    color: white;
    text-decoration: underline;
}

.bar {
    background-color: #5a5a5a;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    margin: 0 4px;
}

.progress-bar {
    background-color: #c1c1c1;
    width: 30%;
    height: 3px;
    border-radius: 3px;
}

.progress-bar-volume {
    background-color: #c1c1c1;
    width: 70%;
    height: 3px;
    border-radius: 3px;
}


/* S MEDIA QUERY >576px */

@media screen and (min-width: 576px) {

    /* aside */
    aside {
        width: 200px;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 25px;
    }

    aside .hidden {
        display: inline-block;
    }

    aside div {
        align-items: center;
    }

    .logo img {
        width: 35px;
    }

    .logo {
        margin-bottom: 20px;
    }

    aside p {
        font-size: 0.7rem;
        color: #6e6e6e;
        transition: color;
    }

    aside img {
        width: 20px;
        margin-right: 5px;
    }

    aside p:hover,
    .aside-playlist div:hover i {
        color: white;
    }

    .nav-aside div:hover img {
        filter: none;
    }


    aside h4 {
        font-size: 0.75rem;
    }

    .aside-playlist {
        margin-top: 10px;
        line-height: 30px;
    }

    .new-playlist {
        font-size: 1rem;
        color: #000;
        background-color: #6e6e6e;
        padding: 6px;
        margin-right: 5px;
        transition: color;
    }

    .aside-down {
        align-items: normal;
    }

    .aside-down img {
        margin: 0 5px 0 0;
    }

    aside hr {
        margin-bottom: 11px;
    }

    .aside-down i {
        margin-right: 5px;
    }

    /* wrap page */
    .container-wrap-page {
        margin-left: 200px;
    }

    /* footer */
    #song-info {
        flex-grow: 0;
        margin-right: 20px;
    }

    #heart-folder {
        align-items: flex-start;
    }

}

/* M MEDIA QUERY >768px */
@media screen and (min-width: 768px) {

    .container-album {
        justify-content: flex-start;
    }

    /* container wrap page */
    nav {
        padding: 0 10px;
    }

    /* album cards */
    .album {
        width: calc(100% / 4 - 10px);
        margin-right: 10px;
    }

    /* footer */
    #heart-folder {
        flex-direction: row;
        justify-content: flex-start;
    }

    #song-info {
        margin-right: 25px;
    }

    .footer-left i {
        margin-right: 15px;
    }

    .footer-left div p {
        display: none;
    }

    .footer-left .hidden {
        display: inline-block !important;
    }

    #song-info div {
        width: 60px;
    }

    .footer-center {
        width: 100%;
        margin: 0 auto;
    }

    #music-controls {
        width: 60%;
        margin: 0 auto 10px;
    }

    #time-bar {
        width: 90%;
        margin: 0 auto;
    }
}

/* L MEDIA QUERY >992px */
@media screen and (min-width: 992px) {

    /* nav */
    .container-wrap-page ul {
        font-size: 0.8rem;
    }

    /* album cards */
    .album {
        width: calc(100% / 6 - 10px);
        font-size: 0.8rem;
        text-align: center;
        line-height: 15px;
    }

    .album p {
        font-size: 0.8rem;
    }

    .album h4 {
        margin-bottom: 5px;
    }




    /* footer */
    #time-bar {
        width: 60%;
    }

    #music-controls,
    .footer-left,
    .footer-right {
        width: 30%;
    }
}